{
  "keywords": [],
  "channels": [],
  "alert_keywords": [],
  "alert_regex": [],
  "alert_target": "",
  "telegram": {
    "api_id": 0,
    "api_hash": ""
  },
  "alert_actions": {
    "telegram": true,
    "email": {
      "enable": false,
      "smtp_host": "",
      "smtp_port": 465,
      "username": "",
      "password": "",
      "to": ""
    },
    "webhook": {
      "enable": false,
      "url": ""
    }
  },
  "admin": {
    "username": "admin",
    "password_hash": "$2b$10$w1ODB/Yy5LFbjChQyGYTueKXdJNg1WfzOYeF8FfXL5v7/DrOmpEy"
  }
}
